.search-wrapper {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
.search-container {
  max-width: 300px;
}

.form-control {
  border-radius: 4px 0 0 4px;
}

.btn-primary {
  border-radius: 0 4px 4px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-card {
  max-width: 300px;
}
.image-card {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

